# ======================================================
# Python Virtual Environment
# ======================================================

.venv/

# ======================================================
# Python Cache / Compiled Files
# ======================================================

__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Runtime Logs
# ======================================================

logs/*
!logs/.gitkeep

*.log

# ======================================================
# Operating System
# ======================================================

.DS_Store
Thumbs.db